
.card--container {
    display: block;
    border: 3px solid #000000;
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
    cursor: pointer;
  }

  .card--title{
    font-family: "segoe ui",'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
  }

  .card--category{
    
    margin-top: 5px;
  }

  .card--container:hover{

    background-color: aqua;
  }
  